/* Check out different fonts here: https://fonts.google.com/ */

h1 {
	font-family: serif;
	padding-bottom: 10px;
	text-align: center;
}

h2 {
	font-family: ruda;
	padding-bottom: 30px;
	text-align: center;
}

h3 {
	font-family: Raleway;
	padding-bottom: 50px;
	text-align: center;
}
